In [17]:
# import require libraries
import pandas as pd 


# read General1 dataset
df = pd.read_excel('/content/drive/MyDrive/Time_Series-Hassan/General2/Data2.xlsx')
df.tail(10)

           DATE  YEAR      EURO
2841 2021-11-11  2021      7.95
2842 2021-11-15  2021  15000.00
2843 2021-11-15  2021     19.39
2844 2021-11-15  2021     71.84
2845 2021-11-17  2021      5.16
2846 2021-11-18  2021     28.56
2847 2021-11-22  2021    600.00
2848 2021-11-23  2021   3735.34
2849 2021-11-24  2021     14.62
2850 2021-11-29  2021     10.41

In [16]:
#
len(df)

2851